<b>By Design</b> is an open-source, collaboratively minded, and easily extensible blogging platform built on top of a node&mdash;express&mdash;mongo stack. It offers a number of features prebuilt, including
<ul>
	<li>A fully developed administration interface for one or many contributors
	<li>Support for markdown and html styled posts
	<li>Optional commenting support through Disqus
	<li>Fast and flexible prerender support for high-speed page loading
	<li>And more, available through our <a href='http://github.com/zwade/bydesign'>github</a> page. 
</ul>

<table id="profiles" class="row-divided">
{{#each (profiles)}}
{{#if this.bio}}
	<tr>
		<th><a href="/author/{{this.handle}}"><img class="author-image large" src="/images/{{#if this.image}}{{this.image}}{{else}}default.png{{/if}}"/></a></th>
		<td>
			<div class="bio">{{this.bio}}</div>
			<div class="contact">
				<address>
					<a href="mailto:{{this.handle}}@dttw.tech">{{this.handle}}@dttw.tech</a>
				</address>
				<address>
					{{#if this.website}}
					<a href="{{this.website}}">{{this.website}}</a>
					{{/if}}
				</address>
				<address>
					{{#if this.github}}
					<a href="mailto:{{this.handle}}@dttw.tech">{{this.handle}}@dttw.tech</a>
					{{/if}}
				</address>
			</div>
		</td>
	</tr>
{{/if}}
{{/each}}
</table>
